.outContainer {
  background-color: gray;
}

.grid-container {
  display: grid;
  background-color: gray;
  top:0;
  padding: 0 200px 200px;
  grid-gap: 1em;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 500px 350px;
}
/* Designing all grid-items */
.Model {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.Graph {
  background-color: rgba(545, 455, 444, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.Table {
  background-color: rgba(545, 455, 444, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}
.DropOff{
  background-color: rgba(545, 455, 444, 0.8);
  font-size: 30px;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
} 
  
        /* Designing h1 element */
.title {
  text-align: center;
  background-color: gray;
  padding : 0px ;
  font-size: 55px
}

#drop-area {
  padding: 100px 80px;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.Buttons {
  margin-top: 100px;
}
