 /* Designing all grid */
.grid-container {
  display: grid;
  background-color: gray;
  padding: 100px;
  grid-template-columns: 70%;
  grid-template-rows: 300pt ;
  grid-gap: 1em;
}
/* Designing all grid-items */
.Model {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.Graph {
  background-color: rgba(545, 455, 444, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.Table {
  background-color: rgba(545, 455, 444, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
}
.DropOff{
  background-color: rgba(545, 455, 444, 0.8);
  padding: 50px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
} 
  
        /* Designing h1 element */
h1 {
  background-color: gray;
  text-align: center;
}
