.logo {
  text-align: left;
  margin-top: 1%;
}

body {
  background-color: #f6f7fa;
  font-family: 'Nunito', sans-serif !important;
  text-align: center;
  padding: 1% 15% 2% 15%;
}

@media (max-width: 991px) {
  body {
    padding: 5%;
  }
  .logo {
    text-align: center;
  }
}

@media (max-width: 700px) {
  body {
    padding: 0px;
  }
  .logo {
    margin-top: 5%;
  }
}

.graphDiv {
  font-size: 15px;
}

.tableDiv, .modelsDiv {
  font-size: 20px;
}

.uploadDiv {
  font-size: 15px;
}

.btnDiv {
  text-align: right;
}

.dropArea {
  position: relative;
  outline: 2px dashed #bebebe;
  padding: 45px 30px;
  height: 110px;
  text-align: center;
}

.dropArea.dropAreaRefreshAnimation {
  outline: 2px dashed #bebebe;
  outline-offset: -5px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

/* animation for when file is dragged over the dropArea */

.dropArea.is-dragover {
  outline-offset: -10px;
  outline-color: #5170b5;
  background-color: #f8f9fc;
}

/* design for the fileBox */

.fileBox {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileBox+label {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* "hand" cursor */
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

.fileBox+label:hover strong, .fileBox:focus+label strong {
  color: #5170b5;
}

.fileBox:focus+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.fileBox+label * {
  /* in case of FastClick lib use */
  pointer-events: none;
}

.scrollable {
  position: relative;
  overflow: auto;
}

#modelTypeDiv {
  text-align: left;
  height: 20px;
  padding: 5px 10px;
  font-size: 15px;
}

.btnDiv {
  height: 50px;
  padding: 10px 10px;
  padding-right: 0px;
}

#trainBtn, #detectBtn{
  background-color: #5170b5;
  border-color: #5170b5;
  color: white;
}

#trainBtn:hover, #detectBtn:hover {
  background-color: #e3e6f0;
  color: #5170b5;
}

tr.headers th {
  background: #fff;
}

.thSticky {
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.card {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: .35rem;
  height: 400px;
  margin: 15px 5px;
}

.card-header {
  background-color: #f8f9fc;
  color: #5170b5;
  font-size: 30px;
}

#featuresSelect {
  width: 300px;
  height: 35px;
  margin-left: 15px;
  margin-bottom: 15px;
  visibility: hidden;
}

#anomaliesTable {
  width: 50px;
  /* visibility: hidden; */
}
